# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://zidanindratama03:rahasia123@cluster0.6o6kqxm.mongodb.net/GunaKarir?retryWrites=true&w=majority&appName=Cluster0"
MONGO_COMPASS="mongodb+srv://zidanindratama03:rahasia123@cluster0.6o6kqxm.mongodb.net/"

GOOGLE_CLIENT_ID=1080398437809-bh7c9p20ha13fauln5ugfiuqs7e2nfcm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

JWT_ACCESS_SECRET=a8958d787488f93bc5a4ae9472b85f510bb4731653b765013362099cb34ed1aadc4856fa4abd182f6955cde519186459dcc57b16b34ff0afc3231edf37236bb3
JWT_REFRESH_SECRET=b5f5e26f21c745c0234e5dc5db877025e665800bf2f110b128d0e541760f7b9544854dcdc47315590f31ee23cec2ebd86c88cbc18dbee2f9953e85c031645eaf

EMAIL_FROM=zidanindratama03@gmail.com
EMAIL_PASSWORD=pivwkkxtlvxggoyl

CLOUDINARY_CLOUD_NAME="zidanindratama"
CLOUDINARY_API_KEY="673587413475871"
CLOUDINARY_API_SECRET="3G_e1hF5oPJeko-e8fzOZnkgUpo"
